<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>alignment</key>
	<integer>0</integer>
	<key>backwards</key>
	<false/>
	<key>sort</key>
	<integer>-1</integer>
	<key>reverse</key>
	<false/>
</dict>
</plist>
